{% extends 'base.html.twig' %}

{% block title %}Education index{% endblock %}

{% block body %}
    <h1>Education index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>DateD</th>
                <th>DateF</th>
                <th>Lieu</th>
                <th>Titre</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for education in education %}
            <tr>
                <td>{{ education.id }}</td>
                <td>{{ education.type }}</td>
                <td>{{ education.dateD ? education.dateD|date('Y-m-d') : '' }}</td>
                <td>{{ education.dateF ? education.dateF|date('Y-m-d') : '' }}</td>
                <td>{{ education.lieu }}</td>
                <td>{{ education.titre }}</td>
                <td>{{ education.description }}</td>
                <td>
                    <a href="{{ path('education_show', {'id': education.id}) }}">show</a>
                    <a href="{{ path('education_edit', {'id': education.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('education_new') }}">Create new</a>
{% endblock %}
